/* Home button Styles */
#home-button-container {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 0;
  font-size: 28px;
}

/* Loading Spinner Styles */
.spinner-container {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  z-index: 9999; 
}

.spinner {
  border: 5px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  border-top: 5px solid #000;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -25px;
  margin-left: -25px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

a {
  text-decoration: none;
  color: inherit;
}

/* Header Styles */
#header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 100vh;
  text-align: center;
  font-size: 48px;
  font-weight: 100;
  color: rgba(255, 255, 255, 0.637);
}

#subtitle {
  font-size: 28px;
  position: relative;
  top: -55px;
}

/* Add extra margin to subtitle on screens smaller than 768px - TEST TESTING TESTING */
@media only screen and (max-width: 768px) {
  #subtitle {
    margin-top: 20px;  /* Adjust this value as needed */
  }
}

#section-header h2 {
  font-size: 28px;
  background-color: rgba(0, 0, 0, 0.514);
  border-radius: 24%;
  padding: 18px;
}

/* About Me Section */
.about-me-text {
  font-size: 22px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.514);
  border-radius: 24%;
  padding: 6px;
  text-align: center;
}

/* Contact Section */
.contact-text-container {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.514);
  border-radius: 24%;
  padding: 4px;
  padding-left: 16px;
  padding-right: 16px;
  display: inline-block;
}

.contact-text {
  font-size: 22px;
  color: #fff;
}

.contact-wrapper {
  text-align: center;
}

body {
  font-family: 'Lato', Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: #ffffffe8;
}

nav {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
}

/* works cards styles */
.works-card img-title {
  display: none;
  position: relative;
  top: 50%;
  left: 50%;
  font-size: 14px;
  color: #fff;
  background-color: rgba(66, 64, 64, 0.315);
  width: 100%;
  height: 100%;
  border-radius: 0;
  padding: 3px;
}

.works-card img {
  object-position: center;
  max-width: 260px;
  max-height: 200px;
  border-radius: 24%;
  vertical-align: center;
}

.works-card-container {
  gap: 10em;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.works-card {
  position: relative;
  width: auto;
  max-width: 260px;
  background-color: #00000000;
  text-align: center;
  flex: 0 0 auto;
  border-radius: 24%;
  display: flex;
}

.works-card:hover {
  transform: scale(1.6);
  transition: all 1.8s ease;
}

.works-card:not(:hover) {
  transform: scale(1);
  transition: all 1.8s ease;
}

.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.514);
  border-radius: 100%;
  padding: 9px;
  font-size: 130%;
}

/* Show the title on screens smaller than 768px - TEST TESTING TESTING */
@media only screen and (max-width: 768px) {
  .image-title {
    display: block;
  }
}

.works-card:hover .overlay-text {
  opacity: 1;
}

#about-me {
  margin-top: calc(8vh);
  margin-bottom: calc(1vh);
}

#works {
  margin-top: calc(1em);
  margin-bottom: calc(1vh + 1em);
}

#contact {
  margin-top: calc(1em);
  margin-bottom: calc(2vh + 1em);
}

.center-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#section-header {
  font-size: 20px;
  color: white;
  font-family: 'Lato', sans-serif;
}

#iframe-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

#iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

#vanta-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

#down-arrow {
  margin-top: 25px;
  width: 4%;
  height: auto;
  position: absolute;
  bottom: 1px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 3s ease-in-out;
}

/* Media Queries for Mobile Optimization */
@media only screen and (max-width: 480px) {
  #header { font-size: 24px; }
  #subtitle { font-size: 18px; }
  
  #section-header h2 { font-size: 18px; }
  .about-me-text, .contact-text { font-size: 14px; }
  
  .works-card img { max-width: 100px; max-height: 75px; }
  .works-card { max-width: 120px; }
  .works-card-container { flex-wrap: wrap; justify-content: center; }
  
  .works-card:hover { transform: none; transition: none; }
}